/*Containers*/

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    animation: fadeIn 0.5s forwards;
    padding: 150px 15% 100px 15%;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 160px;
    z-index: 2;
    overflow: hidden;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #15674c;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.13);
}

.formContainer {
    display: flex;
    background-color: #1a815e;
    box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 40px 15px;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 7px;
}

.formContainer.small {
    justify-content: space-around;
}

.videoContainer {
    position: relative;
    border: solid 3px #29ce97;
    border-radius: 7px;
    height: 500px;
    width: 850px;
}

.playIconContainer {
    position: absolute;
    bottom: 75px;
    right: 0;
    height: calc(100% - 75px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoThumbnail {
    height: 500px;
    width: 850px;
    border: solid 3px #29ce97;
}

.playIcon {
    margin-top: 75px;
    height: 150px;
    cursor: pointer;
}

/*Margin & padding*/

.marginXSmall {
    margin: 0 0px;
}

.marginXRegular {
    margin: 0 10px;
}

.marginYSmall {
    margin: 3px 0;
}

.marginYRegular {
    margin: 10px 0;
}

.marginYTitle {
    margin-bottom: 55px !important;
}

.marginYSubtitle {
    margin-bottom: 25px;
}

.marginXBtn {
    margin: 0 10px;
}

.marginYBtn {
    margin-bottom: 40px !important;
}

.marginYBox {
    margin-top: 40px;
}

/*FLEXBOX*/

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexStart {
    align-self: flex-start;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.spaceAroundContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.centerCenter {
    justify-content: center;
    align-items: center;
}

.startCenter {
    justify-content: center;
    align-items: center;
}

.selfEnd {
    align-self: flex-end;
}

/******STYLES******/

/**FORMS**/
.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 20px;
}

.inputContainer p {
    color: rgb(142, 14, 14);
    font-size: 12px;
    align-self: flex-start;
    margin-left: 10px;
}

.inputContainer.sm {
    margin: 0;
}

.inputContainer.lg {
    margin: 5px 0 40px 0;
}

.label {
    color: #fff;
    align-self: flex-start;
    width: auto;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 35px;
    text-align: center;
    margin-left: 10px;
    z-index: 2;
}

.input {
    color: #0E2D40;
    width: 300px;
    font-size: 14px;
    border-radius: 7px;
    padding: 10px 15px;
    margin-bottom: 0px;
    display: flex;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    resize: none;
    border: none;
    border: solid 1px #514f4f22;
    box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.1);
}

.input:focus-visible {
    outline: #53FF38 auto 1px;
}

.input.sm {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formBtnContainer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.formBtnContainer .btn {
    width: 25%;
}

/**TEXT**/

.title {
    position: relative;
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    align-self: flex-start;
    font-weight: 400;
}

.title.login {
    font-size: 35px;
}

.title2 {
    align-self: flex-start;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}

.titlePng {
    height: 15px;
    margin: 0 10px;
}

.titlePng.lg {
    height: 20px;
    margin: 0 10px;
}

.subtitle {
    color: #ddfaeb;
    text-decoration: underline;
    font-size: 16px;
    text-decoration-line: none;
    font-weight: 400;
    align-self: flex-start;
}

.ordinaryText {
    color: #ddfaeb;
    font-size: 14px;
    font-weight: 300;
    align-self: flex-start;
}

.ordinaryText.marginY {
    margin: 10px 0 40px 0;
}



/*COLORS*/

.purpleBg {
    background-color: #29ce97;
}

.purpleText {
    color: #29ce97;
}

.grayText {
    color: #514F4F;
}

.orangeText {
    color: #FF9747;
}


/*BUTTONS*/

.btnsContainer {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation-name: btnsAnimation;
    animation-duration: 0.8s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btn {
    font-size: 16px;
    border-radius: 7px;
    font-weight: 500;
    border: solid 2px #29ce97;
    cursor: pointer;
    width: 50%;
    padding: 10px 30px;
    text-decoration: none;
    background-image: linear-gradient(328deg, #ffffff34 25%, #ffffff03 25%);
    transition: all 150ms ease-in-out;
    z-index: 1;
}

.btn.small {
    width: 25%;
}

.btn.xl {
    padding: 10px 40px;
}

.btnNoBg {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #73c1a6;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    margin: 7px 0px;
    padding: 10px 20px;
    border-radius: 7px;
}

.btnNoBg:hover {
    background-color: #73c1a6;
    color: #fff;
}

.btnNoBg.red {
    color: #ff745d;
    align-self: auto;
}

.btnNoBg.red:hover {
    color: #fff;
    background-color: #ff745d;
}

.btnNoBg.forInput {
    margin: 0 0 15px 25px;
}

.plus {
    margin-right: 5px;
    font-size: 16px;
}

.plus.forBtn {
    margin-right: 20px;
    font-size: 20px;
    color: #29ce97;
}

.btnDarkGreen {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #1a815e;
    box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.13);
    text-transform: none;
}

.btnDarkGreen:hover {
    background-color: #29ce97;
    border-color: #29ce97;
}

.btnWhite {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
    background-color: #051a13;
    /* border-color: #254658; */
    background-image: linear-gradient(328deg, #00000011 25%, #ffffff03 25%);
    box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.13);
}

.btnWhite.active {
    color: #254658;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.13);
}

.btnWhite:hover {
    color: #fff;
    background-color: #29ce97;
    border-color: #29ce97;
}

/*TABLES*/

.table {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    border-spacing: 0;
    width: 100%;
    box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.1);
    border: solid 2px #29ce97;
    background-color: #051a13;
}

.table.sm {
    width: 50%;
}

.table th {
    color: #1a815e;
    font-weight: 500;
    border: solid 1px #ffffff12;
}

.table td {
    background-color: #0e403381;
    color: #ffffffbd;
    border: solid 1px #ffffff12;
}

.tr {
    border: 1px solid #e7e5e5;
}

.table th,
.table td {
    padding: 10px;
    text-align: start;
    margin: 0;
    font-size: 16px;
}

.table th {
    text-align: center;
}

.tdContainer {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.tdContainer span {
    cursor: pointer;
    color: #29ce97;
}

.tdContainer span a {
    color: #29ce97;
    text-decoration: none;
}

.tdImportant {
    background-color: #1a815e !important;
    color: #000 !important;
    font-weight: 600;
}

tbody tr:nth-child(even) {
    background-color: #2546587e;
}

.tdContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0 !important;
}

.tdContainer p {
    margin: 5px 10px;
    cursor: pointer;
    height: 100%;
}

/* OTHERS */

.curvyBg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 170px;
    width: 100%;
    z-index: 0;
}

.curvyBgBig {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
}

.notification-tooltip {
    position: fixed;
    top: 85px;
    right: 70px;
    left: 70px;
    background: #e74c3c;
    color: #fff;
    padding: 16px 24px;
    border-radius: 6px;
    z-index: 9999;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s;
}

.notification-tooltip.success {
    background: #27ae60;
}

.notification-tooltip.info {
    background: #2980b9;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes btnsAnimation {
    from {
        opacity: 0;
        transform: translateX(-35px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/***** BREAKPOINTS **********/

@media (max-width: 1024px) {
    .container {
        padding: 150px 8% 100px 8%;
    }

    .title {
        font-size: 38px;
    }

    .btn {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 130px 2% 90px 2%;
    }

    .inputContainer {
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .btnsContainer {
        flex-wrap: wrap;
    }

    .formBtnContainer {
        bottom: -40px;
    }

    .btn {
        margin-bottom: 5px;
    }
}